<% form_for @kritk do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :kritk_login %><br />
    <%= f.text_field :kritk_login %>
  </p>
  <p>
    <%= f.label :kritk_pwd %><br />
    <%= f.text_field :kritk_pwd %>
  </p>
  <p>
    <%= f.label :has_facebook %><br />
    <%= f.check_box :has_facebook %>
  </p>
  <p>
    <%= f.label :has_twitter %><br />
    <%= f.check_box :has_twitter %>
  </p>
  <p>
    <%= f.label :has_linked_in %><br />
    <%= f.check_box :has_linked_in %>
  </p>
  <p>
    <%= f.label :social_friends %><br />
	<% for friend in @kritk.social_friends %>
		<%= friend.name %><br>
	<% end %>
  </p>
  <p>
    <%= f.label :product_reviews %><br />
	<% for review in @kritk.product_reviews %>
		<%= review.review %><br>
		<%= review.bought_at %><br>
	<% end %>
  </p>
  <p><%= f.submit %></p>
<% end %>
