<% title "Kritks" %>

<table>
  <tr>
    <th>Name</th>
    <th>Kritk Login</th>
    <th>Kritk Pwd</th>
    <th>Has Facebook</th>
    <th>Has Twitter</th>
    <th>Has Linked In</th>
  </tr>
  <% for kritk in @kritks %>
    <tr>
      <td><%=h kritk.name %></td>
      <td><%=h kritk.kritk_login %></td>
      <td><%=h kritk.kritk_pwd %></td>
      <td><%=h kritk.has_facebook %></td>
      <td><%=h kritk.has_twitter %></td>
      <td><%=h kritk.has_linked_in %></td>
      <td><%= link_to "Show", kritk %></td>
      <td><%= link_to "Edit", edit_kritk_path(kritk) %></td>
      <td><%= link_to "Destroy", kritk, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Kritk", new_kritk_path %></p>
