<% title "Product Review" %>

<p>
  <strong>Review:</strong>
  <%=h @product_review.review %>
</p>
<p>
  <strong>Bought At:</strong>
  <%=h @product_review.bought_at %>
</p>

<p>
  <%= link_to "Edit", edit_product_review_path(@product_review) %> |
  <%= link_to "Destroy", @product_review, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", product_reviews_path %>
</p>
